.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
}

.logo {
  font-size: 1.5rem;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.active {
  background: rgba(255, 255, 255, 0.3);
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}
